Here is a task that {{ instance.assistant_role }} will help {{ instance.user_role }} to complete: {{ instance.idea }}.
Please make it more specific. Be creative and imaginative.
Please reply with the specified task in {{ word_limit }} words or less. Do not add anything else.
