Original task:
{{ instance.task }}

These are the solutions to the problem from other agents:
{% for response in peers %}

One agent response: ```{{ response }}```
{% endfor %}

Based off the opinion of other agents, can you give an updated response?
Follow the original task's output requirements.
