Create a modified version of the supplied heuristic with a different structure (M1).
{% include "task.j2" %}
{% include "parents.j2" %}
Describe the modification and main steps in one sentence, then provide its complete implementation.
{% include "output.j2" %}
