Select two different parents for evolutionary optimization of this task: {{ instance.task }}.
Population indexed from zero, larger fitness is better: {{ population | tojson }}
Return their indices in JSON matching {{ schema | tojson }}.
