Give me 5 different {{ instance.language }} implementations of this fragment:
```
{{ content }}
```
This content belongs to the following task:
{{ instance.task }}

{{ instance.requirements }}
Return complete replacements for the fragment. Label all replacements as {{ instance.language }} in separate fenced blocks.
